<h1>Your Record Collection:</h1>

<table>
  <thead>
    <tr>
      <th>Album title</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Condition</th>
      <th>Rating</th>
      <th>Favorite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records_users.each do |records_user| %>
      <tr>
        <td><%= records_user.album_title %></td>
        <td><%= records_user.artist %></td>
        <td><%= records_user.year %></td>
        <td><%= records_user.condition.gsub('_', ' ').split.map(&:capitalize).join(" ") %></td>
        <td><%= records_user.rating %></td>
        <td><% if records_user.favorite %>&#9734;<% end %></td>
        <td><%= link_to 'Show', records_user %></td>
        <td><%= link_to 'Edit', edit_records_user_path(records_user) %></td>
        <td><%= link_to 'Destroy', records_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>